


<h2>            @ViewBag.TemadelComentario </h2>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('.confirmareditarcomentario').click(function (e) {
            e.preventDefault();
            if (window.confirm("Esta seguro que desea editar el comentario ?")) {
                location.href = this.href;
            }
        });
    });


</script>


<script type="text/javascript">
    $(function () {
        $('.confirmareliminarcomentario').click(function (e) {
            e.preventDefault();
            if (window.confirm("Esta seguro que desea eliminar el comentario?")) {
                location.href = this.href;
            }
        });
    });


</script>


<div class="MostrarComentarios">
    <!--OJO! Hacer que solo se vean las publicas-->
    <div class="form-control" style="max-width:100%;height:300px;max-height:100%;margin-bottom:30px;">@ViewBag.MensajeTema</div>
     <a href="/Comentar/Index/@ViewBag.TemadelComentario" class="btn btn-primary" >Responder Tema </a>
    <table align="center" class="table table-hover">
        
        <thead>

            <tr>
                <td>

                    <span>Usuario:</span> 
                </td>
                <td>

                    <span>Mensaje</span>
                </td>
                <td>


                </td>

            </tr>
        </thead>
        <tbody>
            @foreach (var comentario in ViewBag.ListaComentarios)
            {

                <tr>

                    <td>

                        <img src="@comentario.avatar_url" alt="@comentario.nombre_usuario" width="82" height="82">

                        <a href="/VerPerfil/Index/@comentario.id_usuario "class=" btn btn-link "> @comentario.nombre_usuario </a>

                    </td>

                    <td>
                        @comentario.mensaje
                    </td>

                    <td>
                        @{
                        if (String.Compare((String)Session["GroupId"], "1") == 0)
                        {

                        <a class="confirmareliminarcomentario btn btn-link" href="/EliminarComentario/Index/@comentario.id_comentario/@ViewBag.TemadelComentario"> <span class="glyphicon glyphicon-trash">  </span> </a>
                        }
                        }
                    </td>
                    <td>
                        @{
                        if (String.Compare((String)Session["GroupId"], "1") == 0)
                        {
                        <a class="confirmareditarcomentario btn btn-link"  href="/EditarComentario/Index/@comentario.id_comentario/@ViewBag.TemadelComentario"> <i class="fa fa-pencil"></i>  </a>
                        }
                        }
                    </td>
                </tr>

            }





        </tbody>



    </table>
   

</div>