@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if(Session["LoggedIn"].Equals("Yes"))
        {
            <li>@Html.ActionLink("Cerrar Sesión", "Index", "CerrarSesion", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        else
        {
            
            <li>@Html.ActionLink("Registrarse", "Index", "Registro", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Iniciar sesión", "Index", "IniciarSesion", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        
            
    </ul>
    <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/c0.19.50.50/p50x50/10264591_10154046051400363_2991850220147340935_t.jpg" style="height:40px;width:40px;float:right;margin-top:5px;border-radius:6px"/>
}
