
@{
    ViewBag.Title = "Perfil";
}



<div class="InfoUsuario">
  

    

    <div id="verperfil-contenedor-foto-datos">
        @foreach (var usuario in ViewBag.InfoUsuario)
        {



                    <h2>Perfil</h2>
               

             
                    if (int.Parse((String)Session["GroupId"]) == 1 || int.Parse(@usuario.id_usuario) == int.Parse((String)Session["UserId"]))
                    {
                    <a href="/EditarPerfil/Index/@usuario.id_usuario/@usuario.fecha_nacimiento" class="btn  btn-primary btn-large"><i class="icon-white icon-user"></i> Editar Perfil</a><br />

                    }
               

       





            <div id="verperfil-foto">
                @ViewBag.UrlUsuario

                <img src="@usuario.avatar_url" alt="@usuario.nombre" class="img-thumbnail" width="200" height="200">



            </div>

            <div id="verperfil-datos">
                <address>

                    <strong> Nombre Usuario:  @usuario.nombre </strong><br />
                    Grupo Usuario:  @usuario.id_grupo<br />


                    Cantidad de comentarios:    @usuario.cantidad_comentarios<br />

                    Avatar Url:  @usuario.avatar_url<br />

                    Fecha de nacimiento:   @usuario.fecha_nacimiento<br />

                    Sexo:     @usuario.sexo<br />

                    Fecha de registro:  @usuario.fecha_registro<br />

                </address>

            </div>

        }

    </div>

    
    <br />
    <br />
    <br />
    <table class="table table-hover">

        <thead >
            ULTIMOS 5 TEMAS
        </thead>
        <tbody>
        @foreach (var tema in ViewBag.Ultimos5TemasCreados)
        {
            <tr>
                    <td>
                        Nombre:  @tema.nombre

                    </td>
              
                  <td>
                      Descripcion:  @tema.descripcion

                  
                  </td>
               
         
                    <td>
                        Mensaje:    @tema.mensaje
                    </td>



            </tr>

        }

    </tbody>
    </table>

    <br />
    <br />
    <br />





    <table class="table table-hover">
        <thead>

          Ultimos 5 Comentarios
        </thead>

        <tbody>
            
            @foreach (var comentario in ViewBag.Ultimos5Comentarios)
            {
                <tr>
                    <td>

                        Mensaje:  @comentario.mensaje
                    </td>


                </tr>






            }


            

        </tbody>

    </table>

 




</div>