

    @{
        ViewBag.Title = @ViewBag.TemaSeleccionado;
    }


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   

 <script type="text/javascript">
        $(function () {
            $('.confirmareliminacion').click(function (e) {
                e.preventDefault();
                if (window.confirm("Esta seguro que desea eliminar el tema ?")) {
                    location.href = this.href;
                }
            });
        });


    </script>


<br />
<br />

<div id="contenedor-temas-titulo" >
    <div id="titulo-categoria">
      <span>Categoria: @ViewBag.TemaSeleccionado  </span>   
    </div>

    <div id="boton-creartema">


        <a href="/CrearTema/Index/@ViewBag.TemaSeleccionado" class="btn  btn-primary btn-large"><i class="icon-white icon-user"></i> Crear Nuevo Tema</a><br />

    </div>

</div>
<br />
    <div class="ListaTemas">
        <table align="center" class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Nombre Tema
                    </td>
                    <td>
                        Autor
                    </td>
                    <td>
                        Descripcion
                    </td>
                    <td>
                        Cantidad Comentarios
                    </td>
                    <td>

                    </td>

                </tr>
           



            </thead>
      
            <tbody>
                @foreach (var tema in ViewBag.ListaTemas)
                {

                 <tr>
                     <td>
                         <a href="/MostrarComentarios/Index/@tema.nombre" class="btn  btn-link">@tema.nombre </a>
                     </td>
                     <td>
                         <a href="/VerPerfil/Index/@tema.id_usuario" class="btn btn-link" >@tema.id_usuario_string</a>
                     
                     
                     </td>
                 

                     <td>
                         @tema.descripcion

                     </td>

                     <td>
                         @tema.cantidad_mensajes

                     </td>

                     <td>
                         <a class="confirmareliminacion  btn btn-link" href="/EliminarTema/Index/@tema.nombre/@ViewBag.TemaSeleccionado"> Eliminar </a>

                     </td>
                 </tr>               


                }


            </tbody>

            
          
           </table>
</div>



