@{
    ViewBag.Title = "Bandeja De Entrada";
}

<link href="/style.css" rel="stylesheet">

<h2>Bandeja de entrada</h2>
<div class= "inbox_stats">
    <div class="inbox_stats_text">Mensajes: @ViewBag.TotalMessages</div>
    <div class="inbox_stats_text">No Leidos: @ViewBag.TotalUnreadMessages</div>
    </div>
<div class="clearfix"></div>

@if(ViewBag.Mensajes.Length > 0)
{
<div class="container">
    <table class="betable">
        <tr class="betr">
            <th class="table_autor beth">Autor</th>
            <th class="table_asunto beth">Asunto</th>
            <th class="table_fecha beth">Fecha</th>
        </tr>

        @foreach (var msg in ViewBag.Mensajes)
{
    var classname = "";
    if (!msg.leido)
    {
        classname = "column_not_read";
    }
    else
    {
        classname = "column_read";
    }
    <tr class="@classname betr">
        <td class="table_autor betd">@Html.ActionLink((String)@msg.nombre_remitente, "Index", "VerPerfil", new { msg.id_remitente }, null)</td>
        <td class="table_asunto betd">@Html.ActionLink((String)msg.asunto, "Index", "VerMensaje", new { msg.id_mensaje }, null)</td>
        <td class="table_fecha betd">@msg.fecha_envio</td>
    </tr>
}

    </table>
</div>
}
else
{
    
        <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>No hay mensajes</strong> Ahora inicia sesion y disfruta de ForoGamerZ
    </div>

}
@Html.ActionLink("Nuevo Mensaje", "Index", "EnviarMensaje", null, new { @class = "redactar_mensaje_boton btn btn-lg btn-primary" });
<div class="clearfix"></div>


