@{
    ViewBag.Title = "Inicio";
}

<h2>¡Bienvenido a nuestro foro!</h2>

<div class="botoninicio">

    @{
        var print = "";
        if(String.Compare((String)Session["LoggedIn"], "Yes") == 0)
        {
       
         
        }
        
    }
    @Html.Raw(print)
    
    

    <!--    Eso iba en el if de arriba pero lo comente aqui    Html.Raw("<a href=\"/Inbox/Index \">Buzon de Entrada</a>");-->

</div>

<!-- Si no ha iniciado sesion se muestran las categorias publicas solamentes, en caso contrario se realiza la misma tabla pero llamando
    al ViewBag.ListaCategoriasPublicasYPrivadas. HACER!!-->




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('.confirmareliminarcategoria').click(function (e) {
            e.preventDefault();
            if (window.confirm("Esta seguro que desea eliminar la categoria ?")) {
                location.href = this.href;
            }
        });
    });


</script>


<div class="ListadoCategoriasPublicas"> <!--OJO! Hacer que solo se vean las publicas-->


   
    
Nombre Categoria | Descripcion | Cantidad de temas | Total de mensajes | Ultimo Comentado
<ul>
    @foreach (var categoria in ViewBag.ListaCategoriasPublicas)
    {
   
        <li>
        <a href="/Categoria/Index/@categoria.nombre">@categoria.nombre </a>  
            @categoria.descripcion
            @categoria.cantidad_temas
            @categoria.cantidad_mensajes
        <a class="confirmareliminarcategoria" href ="/EliminarCategoria/Index/@categoria.nombre"> Eliminar </a>        
        </li>
        
        
    } 
</ul>

</div>