@{
    ViewBag.Title = "Inicio";
}

<h2>¡Bienvenido a nuestro foro!</h2>

<div class="botoninicio">

    @{
        var print = "";
        if(String.Compare((String)Session["LoggedIn"], "Yes") == 0)
        {
       
         
        }
        
    }
    @Html.Raw(print)
    
    

    <!--    Eso iba en el if de arriba pero lo comente aqui    Html.Raw("<a href=\"/Inbox/Index \">Buzon de Entrada</a>");-->

</div>

<!-- Si no ha iniciado sesion se muestran las categorias publicas solamentes, en caso contrario se realiza la misma tabla pero llamando
    al ViewBag.ListaCategoriasPublicasYPrivadas. HACER!!-->
<!-- Versión compilada y comprimida del CSS de Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<!-- Tema opcional -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

<!-- Versión compilada y comprimida del JavaScript de Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


<link href="/scripts/bootstrap.min.js" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('.confirmareliminarcategoria').click(function (e) {
            e.preventDefault();
            if (window.confirm("Esta seguro que desea eliminar la categoria ?")) {
                location.href = this.href;
            }
        });
    });


</script>


<div class="ListadoCategoriasPublicas"> <!--OJO! Hacer que solo se vean las publicas-->


   
    
Nombre Categoria | Descripcion | Cantidad de temas | Total de mensajes | Ultimo Comentado

    @foreach (var categoria in ViewBag.ListaCategoriasPublicas)
    {
        <table class="table table-striped">
    
        <tr>
            <td>
                <a href="/Categoria/Index/@categoria.nombre">@categoria.nombre </a>
            </td>
            <td>
                @categoria.descripcion
            </td>
        <td>
            @categoria.cantidad_temas
        </td>
         <td>
             @categoria.cantidad_mensajes
         </td>

             <td>
                 @categoria.ultimo_tema - @categoria.ultimo_mensaje - by: @categoria.id_ultimo_usuario
                 <a class="confirmareliminarcategoria" href="/EliminarCategoria/Index/@categoria.nombre"> Eliminar </a> 
        </td>
 

        </tr>
       
     
        </table>       
        
    } 


</div>