
<h2>Editar Usuario</h2>


<h2>@ViewBag.EditarUsuarioError</h2>

<form method="POST">



    @{
        if (int.Parse(@ViewBag.id_grupo_encontrado) == 1 || int.Parse(@ViewBag.id_usuario_editar) == int.Parse((String)Session["UserId"]))
        {
          <label for="id_grupo_string ">Grupo: </label>
          <input type="text" name="id_grupo_string" value="@ViewBag.id_grupo_encontrado" /> <!--cuando quieras hacer esto, el nombre del input
                                                                                          debe ir si o si en el modelo q estas ocupando, en
                                                                                          este caso es ModeloEditarUsuario y debe tener el nombre
                                                                                          tal cual, de lo contrario no funcionara-->
        }
    }



  
    <br />
    <br />
    <br />

    <input type="hidden" name="id_usuario_string" value="@ViewBag.id_usuario_editar" />
    <br />
    <br />
    <br />
    <label for="editarcontrasenna">Nueva Contraseña </label>
    <input type="password" name="editarcontrasenna" value="" />
    <br />
    <br />
    <br />
    <label for="editarrepetircontrasenna">Repetir  Contraseña </label>
    <input type="password" name="editarrepetircontrasenna" value="" />
    <br />
    <br />
    <br />

    <label for="editarfechanacimiento">Fecha Nacimiento: </label>
    <input type="text" name="editarfechanacimiento" value="@ViewBag.fecha_nacimiento_editar" />
    <br />
    <br />
    <br />
    <label for="editaravatarurl">Nuevo Avatar Url </label>
    <input type="text" name="editaravatarurl" value="@ViewBag.avatar_url_editar" />
    <br />
    <br />
    <br />



    <input type="submit" value=" Editar Perfil" />
</form>
