
<h2>Editar Usuario</h2>


<h2>@ViewBag.EditarUsuarioError</h2>

<form method="POST">




    <input type="hidden" name="id_usuario_string" value="@ViewBag.id_usuario_editar" />
    <br />
    <br />
    <br />
    <label for="editarcontrasenna">Nueva Contraseña </label>
    <input type="password" name="editarcontrasenna" value="" />
    <br />
    <br />
    <br />
    <label for="editarrepetircontrasenna">Repetir  Contraseña </label>
    <input type="password" name="editarrepetircontrasenna" value="" />
    <br />
    <br />
    <br />

    <label for="editarfechanacimiento">Fecha Nacimiento: </label>
    <input type="text" name="editarfechanacimiento" value="@ViewBag.fecha_nacimiento_editar" />
    <br />
    <br />
    <br />
    <label for="editaravatarurl">Nuevo Avatar Url </label>
    <input type="text" name="editaravatarurl" value="@ViewBag.avatar_url_editar" />
    <br />
    <br />
    <br />

    <label for="group_id">Grupo</label>
    @if(int.Parse( (String)Session["GroupId"] ) == 1)
    {
        <input type="text" name="group_id" value="@ViewBag.group_id" />
    }
    <input type="submit" value=" Editar Perfil" />
</form>
